<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One</title>
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/main.js"></script>
</head>

<body>
  <!-- the heading and log dashboard -->
  <div class="log-board">
    <div class="logs">
      <h4 class="log-header">
        Log
      </h4>
      <div class="log_data">
        <div class="log_datum">
          <span>*</span>
          <h6><span class="quant" id="files_detected">0</span> files Detected</h6>
        </div>
        <div class="log_datum">
          <span>*</span>
          <h6><span class="quant" id="queries_detected">1</span> queries Detected</h6>
        </div>

        <div class="log_datum">
          <span>*</span>
          <h6>Total file size: <span class="quant" id="file_size">0</span></h6>
        </div>
      </div>
    </div>

    <div class="process_int">
      <div class="process_log">
        <h4 class="lheader">
          <span id="process_count">0</span> Active Process
        </h4>
        <div class="live_log">
          <div class="log_datum">
            <span>*</span> <span>Initiated batch process</span>
          </div>
          <div class="log_datum">
            <span>*</span> <span>Started batch 1</span>
          </div>
          <div class="log_datum">
            <span>*</span> <span>Completed batch 1</span>
          </div>

        </div>
      </div>
      <div class="action">
        <div class="batch_id">
          <h6 id="batch_template">Click search to start</h6>

        </div>
        <div id="coreAction" class="cta-action">
          <h4 id="cta-search" class="verbose">
            SEARCH
          </h4>
          <span id="procees_icon">0000</span>
        </div>
        <a href="#" target="_blank" id="download">*</a>

      </div>
    </div>
  </div>
  <!-- Manage files upload and handling -->
  <div class="query_gen">
    <div class="upload-files">
      <div class="upload_btns">
        <div class="upload-btn-con">
          <label class="upload-btn" draggable="true" for="upload_files">Upload Files</label>
          <input id="upload_files" draggable="true" accept=".xlsx , .xls" type="file" multiple hidden>
        </div>
        <div class="upload-btn-con">
          <label class="upload-btn" for="upload_files">Upload Folder</label>
          <input id="upload_folder" type="folder" accept="/" hidden>
        </div>
        <div class="upload-btn-con">
          <label class="upload-btn" for="upload_files">Upload Zip</label>
          <input id="upload_folder" type="folder" accept="/" hidden>
        </div>
      </div>


      <div class="upload_files_list">
        <div id="filelist">
        </div>
        <span id="deletefiles">-</span>
      </div>

    </div>

    <div class="query_inputs">
      <div class="top">
        <h4 onclick="switch_query_type(event);" class="active">Title and Data Query</h4>
        <h4 onclick="switch_query_type(event);">Data Only Search</h4>
      </div>
      <div class="queries">
        <div class="query_card">
          <button onclick="removeQueryCard(event);" class="removequery">-</button>
          <input type="text" placeholder="Search Title" name="query_title1" id="query_title_1" class="query_title">
          <div class="tags">
            <input type="text" placeholder="Data Tag" class="queryvaluetag">
            <input type="button" value="+" id="csqt" onclick="add_data_tag(event);">
          </div>
        </div>

      </div>
      <div class="buttom">
        <span id="csqt" onclick="createQueryCard(event);">+</span>
      </div>
    </div>
  </div>
</body>

</html>