<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One</title>
  <link rel="stylesheet" href="/static/main.css">
  <script src="/static/main.js"></script>
</head>

<body>
  <!-- the heading and log dashboard -->
  <header class="heading-nav">
    <div class="left">
      <h2>Dashboard: Index-UI</h2>
      <small>Welcome to Index-UI</small>
    </div>
    <div class="right">
      <small>Aspire Theme<br>Dashboard<br> <span class="has-text-weight-bold has-text-white">v.0.1</span></small>
    </div>


  </header>
  <hr>
  </hr>
  <!-- The markup for logs -->
  <div class="logs">
    <div class="log">
      <h4 id="files_detected">0</h4>
      <h5>Total Files</h5>
    </div>
    <div class="log">
      <h4 id="queries_detected">1</h4>
      <h5>Total Queries</h5>
    </div>

    <div class="log">
      <h4 id="file_size">0</h4>
      <h5>File Size</h5>
    </div>

    <div class="search">
      <button id="startsearch">Start Search</button>
      <button id="downloadButton"> <span>Download </span> <a href="#" hidden style="color: red;" target="_blank" id="downloadlink">Now</a></button>
    </div>
  </div>
  <hr style="width: 40%;">
  <!-- Manage files upload and handling -->
  <div class="query_gen">
    <div class="upload-files">
      <div class="upload_btns">
        <div class="upload-btn-con">
          <label class="upload-btn" draggable="true" for="upload_files">Upload Files</label>
          <input id="upload_files" class="upload-btn-files" draggable="true" accept=".xlsx , .xls" type="file" multiple
            hidden>
        </div>
        <div class="upload-btn-con">
          <label class="upload-btn" for="upload_folder">Upload Folder</label>
          <input id="upload_folder" class="upload-btn-files" type="file" webkitdirectory multiple hidden>
        </div>
        <div class="upload-btn-con">
          <label class="upload-btn" for="upload_zip">Upload Zip</label>
          <input id="upload_zip" class="upload-btn-files" type="file" accept=".zip, .Rar, .7z" hidden>
        </div>
      </div>


      <div class="upload_files_list">
        <div id="filelist">
        </div>
        <span id="deletefiles">-</span>
      </div>

    </div>

    <div class="query_inputs">
      <div class="top">
        <h4 onclick="switch_query_type(event);" class="active">Title and Data Query</h4>
        <h4 onclick="switch_query_type(event);">Data Only Search</h4>
      </div>
      <div class="queries">
        <div class="query_card">
          <button onclick="removeQueryCard(event);" class="removequery">-</button>
          <input type="text" placeholder="Search Title" name="query_title1" id="query_title_1" class="query_title">
          <div class="tags">
            <input type="text" placeholder="Data Tag" class="queryvaluetag">
            <input type="button" value="+" id="csqt" onclick="add_data_tag(event);">
          </div>
        </div>

      </div>
      <div class="buttom">
        <span id="csqt" onclick="createQueryCard(event);">+</span>
      </div>
    </div>
  </div>
</body>

</html>